* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.main {
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
